<div class="container">
  <div id="error" class="hidden"></div>
  <div id="correct" class="hidden"></div>
  <div id="listOfQuizzes">Quizzes!</div>
  <div id="question"></div>
</div>


<div id="templates" class="hidden">
  <div class="quiz"></div>
  <div class="question">

    <ul class="choices">


    </ul>

  </div>


</div>